

<mat-sidenav-container class="sidenav-container">
  <!-- Sidebar -->
  <mat-sidenav #sidenav mode="side" opened class="sidenav">
    
    <mat-toolbar class="sidenav-toolbar">
      <img src="assets/Spotify_logo_without_text.png" alt="Spotify Logo" class="logo" />
    </mat-toolbar>
    <div class="social-links text-center">
      <a href="#" class="twitter"><i class="bi bi-twitter-x"></i></a>
      <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
      <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
      <a href="#" class="google-plus"><i class="bi bi-skype"></i></a>
      <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
    </div>  
    <mat-nav-list>
      <a mat-list-item routerLink="/artists" class="nav-item">
        <mat-icon>artists</mat-icon>
        <span>artists</span>
      </a>
      <a mat-list-item routerLink="/albums" class="nav-item">
        <mat-icon>albums</mat-icon>
        <span>albums</span>
      </a>
      <a mat-list-item routerLink="/types" class="nav-item">
        <mat-icon>types</mat-icon>
        <span>types</span>
      </a>
      <a mat-list-item routerLink="/login" class="nav-item"  *ngIf="!isAuthenticate()">
        <mat-icon>login</mat-icon>
        <span>login</span>
      </a>
      <a mat-list-item routerLink="/signin" class="nav-item" *ngIf="!isAuthenticate()">
        <mat-icon>signin</mat-icon>
        <span>signin</span>
      </a>
      <a mat-list-item routerLink="/delete" class="nav-item" *ngIf="isAuthenticate()">
        <mat-icon>delete</mat-icon>
        <span>delete</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>

<main>
  <router-outlet></router-outlet>
</main>

