<div id="form-ui">
  <form action="" method="post" id="form">
      <div id="form-body">
          <div id="welcome-lines">
              <div id="welcome-line-1">spotilike</div>
              <div id="welcome-line-2">Welcome Back, Loyd</div>
          </div>
          <div id="input-area">
              <div class="form-inp">
                  <input placeholder="Email Address" type="text">
              </div>

              <div class="form-inp">
                  <input placeholder="Password" type="password">
              </div>

              <!-- Nouveau champ de sélection (M/F) -->
              <div class="form-inp">
                <label>Genre :</label>
                <label>
                    <input type="radio" name="genre" value="m"> M
                </label>
                <label>
                    <input type="radio" name="genre" value="f"> F
                </label>
            </div>

              <!-- Nouveau champ pour l'âge -->
              <div class="form-inp">
                  <input placeholder="Âge" type="number" min="0">
              </div>
          </div>
          <div id="submit-button-cvr">
              <button id="submit-button" type="submit">Login</button>
          </div>
          <div id="forgot-pass">
              <a href="#">Forgot password?</a>
          </div>
          <div id="bar"></div>
      </div>
  </form>
</div>
